@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap");

:root {
  --text-gray: #999;
  --bt-bg: #b8cc39;
  --btn-bg: linear-gradient(
    90deg,
    rgba(126, 176, 127, 1) 0%,
    rgba(184, 204, 57, 1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*-------------------------NAVBAR-----------------------*/

header {
  height: 70px;
  width: 100%;
  background-color: #020300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  position: fixed;
  z-index: 2;
}
nav {
  display: flex;
  padding-right: 40px;
}

.nav-elements {
  display: flex;
  align-items: center;
  gap: 50px;
  z-index: 2;
}

.logo {
  height: 50px;
  filter: invert(1);
  -webkit-filter: invert(1);
  padding-left: 20px;
}

li a {
  color: #fff;
}

li {
  padding: 8px;
}
.iniciodesesion {
  outline: 3px solid #fff;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}

.registro {
  background-color: #fff;
  outline: 3px solid #fff;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}
.registro a {
  color: #000;
}

/*----diseño responsive + menu navbar-----*/

.label-bar {
  display: none;
  flex-direction: column;

  background-color: #000;
  cursor: pointer;
  position: relative;
}

.label-bar span {
  height: 2px;
  width: 30px;
  background-color: #fff;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

#toggle-menu:checked ~ .label-bar span:nth-child(1) {
  position: absolute;
  top: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
#toggle-menu:checked ~ .label-bar span:nth-child(2) {
  opacity: 0;
}
#toggle-menu:checked ~ .label-bar span:nth-child(3) {
  position: absolute;
  top: 0;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

#toggle-menu {
  display: none;
}

.overlay {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 70px;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transform: translate(200%);
  -webkit-transform: translate(200%);
  -moz-transform: translate(200%);
  -ms-transform: translate(200%);
  -o-transform: translate(200%);
}

#toggle-menu:checked ~ .overlay {
  transform: translate(0);
  opacity: 1;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}
/*----efecto nav-----*/

/*------------------*/
@media (max-width: 768px) {
  .nav-elements {
    gap: 25px;
  }
}

@media (max-width: 576px) {
  nav ul {
    /* background: rgb(126, 176, 127);
    background: linear-gradient(
      90deg,
      rgba(126, 176, 127, 1) 0%,
      rgba(184, 204, 57, 1) 100%
    ); */
    background-color: #fff;
    width: 100%;
    height: 46vh;
    position: absolute;
    top: 69px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  /*modificacion barra*/
  .label-bar span {
    display: flex;
    gap: 20px;
  }
  /*--------------------*/

  .nav-elements {
    transform: translate(200%);
    justify-content: start;
    align-items: center;
    padding-top: 20px;
    -webkit-transform: translate(200%);
    -moz-transform: translate(200%);
    -ms-transform: translate(200%);
    -o-transform: translate(200%);
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
    border: 6px solid #000;
    border-top: 0;
  }

  .nav-elements_li {
    /* border-bottom: 2px solid #000; */
    display: flex;
    padding: 20px 50px 15px 40px;
  }
  .iniciodesesion {
    outline: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .registro {
    outline: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    /* background: rgb(126, 176, 127);
    background: linear-gradient(
      90deg,
      rgba(126, 176, 127, 1) 0%,
      rgba(184, 204, 57, 1) 100%
    ); */
  }

  li a {
    color: #000;
    font-weight: 550;
  }

  .label-bar {
    display: block;
    color: #fff;
  }

  #toggle-menu:checked ~ .nav-elements {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }

  .nav-elements_li:active {
    animation: circle-in-center 0.5s;
    -webkit-animation: circle-in-center 0.5s;
  }

  .hero-derecha {
    display: none;
  }
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
    color: #fff;
  }
  to {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:center"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}

/*-------------------------------------------------MAIN-------------------------------*/
body {
  background-color: #ddd;
  display: flex;
  justify-content: center;
}
/*section1*/
main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 1600px;
}
#hero {
  padding-top: 60px;
  display: flex;
  /* max-width: 1200px; */
  align-items: center;
}

/*left*/
.hero-izquierda {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  gap: 25px;
}

.hero-izquierda h3 {
  color: var(--text-gray);
  font-size: 1.2em;
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-izquierda i {
  color: green;
  font-size: 0.8em;
  z-index: 0;
}

.hero-izquierda p {
  width: 90%;
  font-size: 1.2em;
  color: var(--text-gray);
}

.hero-izquierda h1 {
  font-size: 3em;
}
/*right*/
.hero-derecha {
  width: 80%;
  padding-right: 60px;
}
.hero-derecha img {
  width: 100%;
}

/*btn*/
.hero-btn {
  width: 20%;
  background-color: #000;
  border: 4px solid;
  border-image: var(--btn-bg);
  border-image-slice: 1;
  padding: 5px;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
}

/*____________________________CARD SECTION______________________*/

.card {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 2rem;
  width: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #fff;
}

.price {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  color: #fff;
}

.desc {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.625;
  color: rgba(156, 163, 175, 1);
}

.lists {
  margin-bottom: 1.5rem;
  flex: 1 1 0%;
  color: rgba(156, 163, 175, 1);
}

.lists .list {
  margin-bottom: 0.5rem;
  display: flex;
  margin-left: 0.5rem;
}

.lists .list svg {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
  color: rgba(167, 139, 250, 1);
}

.action {
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 0.25rem;
  background-color: rgba(167, 139, 250, 1);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: rgba(17, 24, 39, 1);
}
