@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap");

:root {
  --text-gray: #999;
  --bt-bg: #b8cc39;
  --btn-bg: linear-gradient(
    90deg,
    rgba(126, 176, 127, 1) 0%,
    rgba(184, 204, 57, 1) 100%
  );
  --text-semigray: #bbb;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*-------------------------NAVBAR-----------------------*/

header {
  height: 70px;
  width: 100%;
  background-color: #020300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  position: fixed;
  z-index: 2;
}
nav {
  display: flex;
  padding-right: 40px;
}

.nav-elements {
  display: flex;
  align-items: center;
  gap: 50px;
  z-index: 2;
}

.logo {
  height: 50px;
  filter: invert(1);
  -webkit-filter: invert(1);
  padding-left: 20px;
}

li a {
  color: #fff;
}

li {
  padding: 8px;
}
.iniciodesesion {
  outline: 3px solid #fff;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}

.registro {
  background-color: #fff;
  outline: 3px solid #fff;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}
.registro a {
  color: #000;
}

/*----diseño responsive + menu navbar-----*/

.label-bar {
  display: none;
  flex-direction: column;
  background-color: #000;
  cursor: pointer;
  position: relative;
}

.label-bar span {
  height: 2px;
  width: 30px;
  background-color: #fff;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

#toggle-menu:checked ~ .label-bar span:nth-child(1) {
  position: absolute;
  top: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
#toggle-menu:checked ~ .label-bar span:nth-child(2) {
  opacity: 0;
}
#toggle-menu:checked ~ .label-bar span:nth-child(3) {
  position: absolute;
  top: 0;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

#toggle-menu {
  display: none;
}

.overlay {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 70px;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transform: translate(200%);
  -webkit-transform: translate(200%);
  -moz-transform: translate(200%);
  -ms-transform: translate(200%);
  -o-transform: translate(200%);
}

#toggle-menu:checked ~ .overlay {
  transform: translate(0);
  opacity: 1;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

/*-------------------------------------------------MAIN---------------------------------------*/

body {
  background-color: #ddd;
  display: flex;
  justify-content: center;
}
/*section1*/
main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 1600px;
}

/*_____________________________HERO___________________________*/

#hero {
  /* padding: 60px 0 25px 60px; */
  padding: 120px 60px;
  display: flex;
  /* max-width: 1200px; */
  align-items: center;
}

/*left*/
.hero-izquierda {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.hero-izquierda h3 {
  color: var(--text-gray);
  font-size: 1.2em;
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-izquierda i {
  color: green;
  font-size: 0.8em;
  z-index: 0;
}

.hero-izquierda p {
  width: 90%;
  font-size: 1.2em;
  color: var(--text-gray);
}

.hero_h1 {
  font-size: 3em;
  animation: fade 0.5s backwards;
  -webkit-animation: fade 0.5s backwards;
}
.hero-btn {
  text-align: center;
}

.hero-btn-p_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/*typewriter animation*/
.hero_h1 span {
  position: relative;
  background: #000;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.hero_h1 span::before,
.hero_h1 span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #020300; */
}
.hero_h1 span:before {
  background-color: #fff;
  animation: typing 1.2s 1.4s steps(14) forwards;
  -webkit-animation: typing 1.2s 1.4s steps(14) forwards;
}
.hero_h1 span:after {
  width: 0.08em;
  background-color: #000;
  animation: typing 1.2s 1.4s steps(14) forwards, blink 0.6s steps(6) infinite;
  -webkit-animation: typing 1.2s 1.4s steps(14) forwards,
    blink 0.6s steps(6) infinite;
}

/*________________________*/

/*right*/
.hero-derecha {
  width: 80%;
  padding-right: 60px;
  background-image: url(./imagenes/prueba.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-derecha img {
  width: 100%;
}

/*btn*/
.hero-btn {
  width: 20%;
  background-color: #000;
  border: 4px solid;
  border-image: var(--btn-bg);
  border-image-slice: 1;
  padding: 5px;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.hero-btn:hover {
  box-shadow: 1px 5px 5px 1px #b8cc39;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
}

/*________________________________BENEFITS SECTION____________________________*/

#benefits-section {
  background-color: #020300;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}
.benefits-title {
  padding-top: 20px;
  font-size: 2em;
}
.benefits-title span {
  /* color: #63b4f2; */
  background: var(--btn-bg);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.info-container {
  display: flex;
  /* padding: 40px 60px; */
}
.info-container_izquierda,
.info-container_derecha {
  padding: 60px;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 40px;
  color: #ccc;
}

.info-text i {
  padding-right: 5px;
}

/*_______________________________ABOUT THE COURSE SECTION________________________*/

#about-section {
  background: #fff;
  /* background: rgb(126, 176, 127);
  background: linear-gradient(
    90deg,
    rgba(126, 176, 127, 1) 0%,
    rgba(184, 204, 57, 1) 97%
  ); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 60px;
  gap: 125px;
  border-top: 1px solid #b8cc39;
  border-bottom: 1px solid #b8cc39;
  box-shadow: -15px -15px -15px -15px #b8cc39;
}

.about-title_container h3 {
  font-size: 3em;
  background: linear-gradient(to right, #000, #666);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: underline;
}

.about-info_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-info_container span {
  font-size: 1.1em;
  color: #000;
}

.about-img_container {
  width: 550px;
  height: 350px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
  padding: 0;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}
.about-img_container img {
  width: 700px;
  height: 100%;
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
}

.about-img_container img:hover {
  transform: translateX(-15%);
  -webkit-transform: translateX(-15%);
  -moz-transform: translateX(-15%);
  -ms-transform: translateX(-15%);
  -o-transform: translateX(-15%);
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
}

/*_________________________________PLANS_____________________________*/

#pricing {
  background-color: #020300;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  padding-bottom: 50px;
}
.pricing-title {
  font-size: 2.3em;
  text-align: center;
}
.pricing-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 30px;
  gap: 30px;
}
.pricing-info-container div {
  background-color: #222;
  width: 100px;
  text-align: center;
  color: #b8cc39;
  padding: 10px;
  border: 1px solid var(--bt-bg);
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}

.pricing-info-container p {
  text-align: center;
  color: var(--text-semigray);
}

.card1 {
  display: flex;
  flex-direction: column;
  margin: 30px;
  border: 1px solid #99c;
  background-color: #222;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 20px;
  gap: 15px;
  width: 360px;
  height: 516px;
}

.card1-heading {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.card1-heading_span {
  background-color: #444;
  border: 1px solid #99c;
  padding: 10px;
  border-radius: 1.7em;
  -webkit-border-radius: 1.7em;
  -moz-border-radius: 1.7em;
  -ms-border-radius: 1.7em;
  -o-border-radius: 1.7em;
  font-size: 0.8em;
  width: 80px;
  text-align: center;
}
.price {
  font-size: 3em;
  font-weight: 500;
}

.card1-heading_price {
  display: flex;
  gap: 5px;
  align-items: first baseline;
}
.card1-heading_price span {
  color: var(--text-semigray);
}

.divider {
  width: 80%;
  height: 2px;
  background-color: #ccc;
  box-shadow: 2px 2px 15px 3px #666;
  margin: auto;
}

.card_p {
  color: var(--text-semigray);
  padding-bottom: 30px;
}

.card1-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
}

.card1-footer span {
  display: flex;
  gap: 6px;
  align-items: baseline;
  color: #ccc;
}

.card1-button {
  background-color: #444;
  cursor: pointer;
  /*font-weight: 550;
  */ /*letter-spacing: 1px;
  */
  font-size: 1em;
  color: #fff;
  border: none;
  height: 40px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.card1-button:hover {
  background: #555;
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}

.pricing-plans-container {
  display: flex;
}

.card2 {
  border: 1px solid var(--bt-bg);
}
.card2-button {
  background: var(--bt-bg);
  color: #000;
}
.card2-button:hover {
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  background: var(--bt-bg);
}

.card2-heading_span {
  border: 1px solid var(--bt-bg);
}

/*_________________________________FOOTER__________________________*/

#footer {
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 120px;
  gap: 40px;
}

.us {
  text-align: center;
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.us h3 {
  font-size: 2.4em;
}
.contact {
  width: 33%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact h3 {
  font-size: 2.4em;
}

.contact i {
  font-size: 1.7em;
  padding-top: 20px;
}

.divider-h3 {
  height: 2px;
  width: 40px;
  background-color: #000;
  box-shadow: 1px 1px 10px 1px #ccc;
  margin: 0 auto;
}

.reflinks-footer {
  display: flex;
  justify-content: center;
  gap: 25px;
}

#footer-bottom {
  background: #020300;
  color: #fff;
  text-align: center;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

/*-------DISEÑO RESPONSIVE------*/

@media (max-width: 1500px) {
  .nav-elements {
    gap: 25px;
  }
  #hero {
    padding-top: 120px;
  }
}
/*___________________________________________________________________________________________*/

@media (max-width: 992px) {
  .hero-derecha {
    display: none;
  }
  main {
    width: 100vw;
  }
  .about-img_container {
    display: none;
  }
  .pricing-plans-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  #footer {
    flex-direction: column;
    align-items: center;
  }
  .us,
  .contact,
  .map {
    width: 100%;
  }
  .map {
    display: flex;
    justify-content: center;
  }
  .info-container {
    flex-direction: column;
  }
  .info-container_izquierda {
    padding-bottom: 0;
    width: 100%;
  }
  .info-container_derecha {
    width: 100%;
  }
}

/*___________________________*/

@media (max-width: 755px) {
  .hero_h1 {
    font-size: 2.4em;
  }
  .hero-btn-p_container {
    font-size: 0.9em;
  }
  #footer-bottom {
    font-size: 0.8em;
  }
  .hero-btn {
    width: 150px;
  }
}
/*___________________________*/

@media (max-width: 576px) {
  nav ul {
    /* background: rgb(126, 176, 127);
    background: linear-gradient(
      90deg,
      rgba(126, 176, 127, 1) 0%,
      rgba(184, 204, 57, 1) 100%
    ); */
    background-color: transparent;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 69px;
    left: 0;
    flex-direction: column;
    gap: 40px;
  }
  .registro {
    background: transparent;
  }
  /*modificacion barra*/
  .label-bar span {
    display: flex;
    gap: 20px;
  }
  /*--------------------*/

  .nav-elements {
    transform: translateY(200%);
    justify-content: start;
    align-items: start;
    padding-top: 20px;
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%);
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
  }

  .nav-elements_li {
    /* border-bottom: 2px solid #000; */
    display: flex;
    padding: 20px 50px 15px 40px;
    margin-left: 35px;
    position: relative;
    font-size: 1.6em;
    border-bottom: 1px solid #000;
    width: 80%;
    box-shadow: 6px 4px 0 0 #b8cc39;
    background-color: #fff;
  }

  .iniciodesesion {
    outline: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    bottom: 150px;
    left: 0;
    position: absolute;
  }
  .iniciodesesion::after {
    content: "➥";
    display: flex;
    align-self: center;
    padding-left: 30px;
  }
  .registro {
    outline: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    /* background: rgb(126, 176, 127);
    background: linear-gradient(
      90deg,
      rgba(126, 176, 127, 1) 0%,
      rgba(184, 204, 57, 1) 100%
    ); */
  }

  li a {
    color: #000;
    font-weight: 550;
  }

  .label-bar {
    display: flex;
    color: #fff;
    gap: 5px;
  }

  #toggle-menu:checked ~ .nav-elements {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }

  /* .nav-elements_li:active {
    animation: circle-in-center 0.5s;
    -webkit-animation: circle-in-center 0.5s;
  } */

  .hero-derecha {
    display: none;
  }
  /*_____________*/

  #footer-bottom {
    font-size: 0.67em;
  }
  main {
    width: 100%;
  }
  .hero_h1 {
    font-size: 2em;
    width: 100%;
  }
  .hero-btn-p_container {
    font-size: 0.8em;
  }
  .hero-btn {
    font-size: 12px;
  }
  .hero-izquierda h3 {
    font-size: 15px;
  }

  .benefits-title {
    font-size: 1.7em;
    text-align: center;
  }
  .info-text {
    font-size: 12px;
  }

  .about-title_container {
    padding-bottom: 20px;
  }
  .about-title_container h3 {
    font-size: 1.8em;
  }
  .about-info_container span {
    font-size: 1em;
  }
  .pricing-info-container {
    width: 80%;
  }
  .pricing-info-container div {
    font-size: 0.9em;
  }
  .pricing-title {
    font-size: 1.8em;
    width: 100%;
  }
  .hero_h1 span:after {
    height: 40px;
    top: 55px;
  }

  .info-container_izquierda,
  .info-container_derecha {
    padding-left: 0;
    padding-right: 0;
    text-overflow: ellipsis;
  }

  #footer {
    padding: 60px;
  }

  .card1 {
    width: 300px;
  }
  header {
    width: 100vw;
  }
}
